# Discord Bot Configuration
DISCORD_TOKEN=your_discord_token_here


# Moderator Channel ID
MCH=your_moderator_channel_id


# Database Names
DB_MINING=mining.db
DB_USERS=users.db

# Current Directory
CWD=.

# Channel IDs
CHID_MINING=your_mining_channel_id
BRAVE_CHAT=your_brave_chat_channel_id
FREEDOM_CHAT=your_freedom_chat_channel_id
GLORY_CHAT=your_glory_chat_channel_id
PEACEFUL_CHAT=your_peaceful_chat_channel_id

# Role IDs
BRAVE_ROLE=your_brave_role_id
FREEDOM_ROLE=your_freedom_role_id
GLORY_ROLE=your_glory_role_id
PEACEFUL_ROLE=your_peaceful_role_id

# Emoji Aliases
BRAVE_EMOJI=your_brave_emoji
FREEDOM_EMOJI=your_freedom_emoji
GLORY_EMOJI=your_glory_emoji
PEACEFUL_EMOJI=your_peaceful_emoji 